$main-green: #7ABC64;
$light-grey: #f6f6f6;
$medium-grey: #929aa3;
$hard-grey: #494c4e;
$metal-grey: #7799ad;
$little-font: 0.7rem;
$medium-font: 0.8rem;
$biggest-font: 3rem;
$h2-font: 2rem;
$h3-font: 1.5rem;
$box-shadow-light: 0px 15px 35px 0px rgba(146, 154, 163, 0.5);
$box-shadow-medium: 0px 15px 35px 0px rgba(146, 154, 163, 1);
$box-shadow-hard: 0px 15px 35px 0px rgba(73, 76, 78, 1);